.category-search{
  margin-top: 20px ;
  margin-bottom: 50px
}

.Category-title h1{
  float: left;

  margin-top: 3%;
}


.search-label{
  margin-right: 0px !important; 
  margin-top: 20px !important; 
  width: 180px;
}

.search-input{
  margin-left: 0 !important; 
}
