.body-dashboard{
 width: 100%;
 margin-left: 2%;
 margin-right: 2%;
}
.expansion-panel{
  width: 90%;
 margin-left: 4%;
 }

 .expansion-panel.expanded.grow-horizontally {
  width: 96%;
  left: -3%;
}

.label-ingresos{
  float: right
  
 }

 .student-search{
  float: right;
  margin-right: 2%;
 }


.canvas{
width: 500px
}


.validation {
  display: inline-block;
  width: 290px;
  margin: 0;
}